* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.hero {
  position: relative;
  text-align: center;
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: black;
}

.bg-image {
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

#hero-font {
  font-family: "Satisfy", cursive;
  color: white;
}

.marquee {
  background-color: #c84b31;
  align-content: center;
}

.marquee p {
  font-size: 50px;
  background-color: #c84b31;
  width: 80%;
  color: white;
  margin-top: 8px;
}

.section-title {
  margin-top: 10px;
  padding: 0px;
  text-align: center;
}

.h2.section-title {
  font-size: 60px;
  margin: 24px auto;
}

li {
  list-style: none;
}

.product-list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.card-content {
  text-align: center;
}

.product-item {
  height: 100px;
  width: 70px;
}

.cardimg {
  object-fit: cover;
}
